@using DvaCore.Models
@{
    ViewBag.Title = "Deception Analysis";
}
<h2>@ViewBag.Title</h2>
<div class="well">
    <div class="container-fluid">
        <div class="col-sm-4">
            <h3>Overall Precision</h3>
            <h4>@(Math.Round(ViewBag.LinearSvmResult.OverallPrecision * 100, 1) + "%")</h4>
        </div>
        <div class="col-sm-4">
            <h3>False Positives</h3>
            <h4>@(Math.Round(ViewBag.LinearSvmResult.FalsePositives * 100, 1) + "%")</h4>
        </div>
        <div class="col-sm-4">
            <h3>False Negatives</h3>
            <h4>@(Math.Round(ViewBag.LinearSvmResult.FalseNegatives * 100, 1) + "%")</h4>
        </div>
    </div>
</div>
