@{
    ViewData["Title"] = "Welcome to Dva";
}

<h2>@ViewData["Title"]</h2>
<p style="font-size: 16px">Dva is an deception detection analysis platform which combines supervised machine learning classification algorithms, 
    in a committee, to achieve better performance than individual classifications. Each of the algorithms are trained with 
    five-fold validation on a <a href="http://myleott.com/op_spam/">gold standard data set</a>, which consists of labelled documents. 
    Each algorithm is split into two parts, a dimensionalizer and a classifier.</p>
<h4></h4>