@{
    ViewData["Title"] = "Welcome to Dva";
}

<h2>@ViewData["Title"]</h2>
<p style="font-size: 16px">Dva, Deception veracity analysis, is a deception detection analysis platform. Dva specialises in combining multiple analyses to achieve better performance than individual analyses.
    All analyses are performed with five-fold validation on the <a href="http://myleott.com/op_spam/">gold-standard data set</a>. Each analysis is split into two parts, a dimensionalizer, that converts a document into a feature set, and a classifier.</p>
<h4></h4>