@{
    ViewData["Title"] = "Welcome to Dva";
}

<h2>@ViewData["Title"]</h2>
<p style="font-size: 16px">Dva, Deception veracity analysis,  is a deception detection analysis platform. Dva is specialised in combining multiple analyses to achieve better performance than individual analysis.
    All analyses are performed with five-fold validation on the <a href="http://myleott.com/op_spam/">gold standard data set</a>. </p>
<h4></h4>