@model DvaWebApp.Models.AlgorithmSettingsModel

@{
    ViewBag.Title = "Linear Support Vector Machine";
}

<h2>@ViewBag.Title</h2>


<form method="post">
    <div class="col-md-4 container-fluid">
        @(Html.DropDownListFor(x => x.SelectedAlgorithm, Model.AlgorithmList, "Select Algorithm", new { @class = "form-control" }))
    </div>

    <input id="Submit1" type="submit" class="btn btn-default" value="Start" formaction="LinearSVMResult"/>
</form>

