@using DvaCore.Models
@{
    ViewBag.Title = "Linear Support Vector Machine";
}
<h2>@ViewBag.Title</h2>
<div class="well">
    <div class="col-sm-4">
        <h3>Overall Precision</h3>
        <h4>@ViewBag.LinearSvmResult.OverallPrecision</h4>
    </div>
    <div class="col-sm-4">
        <h3>False Positives</h3>
        <h4>@ViewBag.LinearSvmResult.FalsePositives</h4>
    </div>
    <div class="col-sm-4">
        <h3>False Negatives:</h3>
        <h4>@ViewBag.LinearSvmResult.FalseNegatives</h4>
    </div>
</div>