@model object

@{
    ViewBag.Title = "Linear Support Vector Machine";
}

<h2>@ViewBag.Title</h2>
<form method="post">
    <input id="Submit1" type="submit" value="Start"  formaction="LinearSVMResult"/>
</form>